<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div
          class="col-md-3 col-lg-2 sidebar bg-light"
          style="min-height: 100vh"
        >
          <div class="sidebar-sticky">
            <div class="sidebar-header text-center py-3">
              <img src="/images/logo.png" alt="Logo" class="img-fluid" />
              <h5 class="mt-3">Cyber Physical System</h5>
              <p>Laboratory</p>
            </div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/cms/admin">
                  <i class="bi bi-house-door-fill"></i> Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cms/module">
                  <i class="bi bi-house-door-fill"></i> Module
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cms/tasks">
                  <i class="bi bi-clipboard"></i> Tasks
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cms/submission">
                  <i class="bi bi-upload"></i> Submission
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cms/certificate">
                  <i class="bi bi-file-earmark-text"></i> Certificate
                </a>
              </li>
              <li class="nav-item mt-auto">
                <a class="nav-link" href="/logout">
                  <i class="bi bi-box-arrow-right"></i> Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10">
          <div class="py-3">
            <h2><%= title %></h2>
          </div>

          <!-- Konten dinamis akan di sini -->
          <%- body %>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
