<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      .email-container {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
      }
      .email-header {
        background-color: #4caf50;
        color: white;
        padding: 10px;
      }
      .email-body {
        margin: 20px;
        padding: 20px;
        background-color: #f4f4f4;
        border-radius: 5px;
      }
      .btn-reset {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn-reset:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        <h2>Reset Password</h2>
      </div>
      <div class="email-body">
        <p>Hai,</p>
        <p>
          Kami menerima permintaan untuk mengatur ulang password akun Anda. Klik
          tombol di bawah untuk mengatur ulang password Anda:
        </p>
        <a href="<%= resetURL %>" class="btn-reset">Reset Password</a>
        <p>Atau salin dan tempel link ini di browser Anda: <%= resetURL %></p>
        <p>
          Jika Anda tidak meminta reset password, silakan abaikan email ini.
        </p>
      </div>
    </div>
  </body>
</html>
